<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')%>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<form class="login" action="" method="GET"> <!-- el action queda para la 2da parte de la materia. --> 

				<label for="email">Email:</label>
				<input type="email" name="email" id="email">

				<label for="usuario">Usuario:</label>
				<input type="text" name="usuario" id="usuario">

				<label for="contrasenia">Contraseña:</label>
				<input type="password" name="contrasenia" id="contrasenia">

				<label for="birthday">Fecha de Nacimiento:</label>
				<input type="text" name="birthday" id="birthday">

				<label for="DNI">DNI:</label>
				<input type="number" name="DNI" id="DNI">

				<label for="profilePic">Foto de Perfil:</label>
				<input type="file" name="profilePic" id="profilePic">

				<input class="done" type="submit" value="Edita tu perfil">

			</form>

	<!-- footer -->
	<%- include('./partials/footer')%>
	<!-- /footer -->
</body>

</html>